In [ ]:
l=["apple","man"]
Reference:

Think Python: How to Think Like a Computer Scientist, 2nd Edition, Version 2.4.0

https://www.w3schools.com/python/python_lists.asp

In [ ]:
# List or What is List ?
# a list is a sequence of values.
# In a list, values can be any type of data.
# The values in a list are called elements or sometimes items

# List is a built-in data types in Python used to store collections of data

In [ ]:
# what are the difference between array and list

# Array :
# arrays can store elements only of the same type
# Accessing element is fast in Python Arrays because they are in a contiguous manner
# arrays require explicit looping to print elements
# but insertion and deletion is quite expensive because all the elements are shifted from the position of inserting and deleting element linearly.

# List:
# List can store elements of different types
# List is actually a dynamic array .
# it doesn't require explicit looping to print elements
# Inserting or deleting elements at the beginning or in the middle of a list can be less efficient because it may require shifting all subsequent elements
# which is a linear-time operation in the worst case.

In [ ]:
# Syntax:

#  to enclose the elements in square brackets [  ]
Ex1:
[10, 20, 30, 40]

Ex2:
['crunchy frog', 'ram bladder', 'lark vomit']

In [ ]:
# Nested list

#  A list within another list is nested.

EX1:
 ['spam', 2.0, 5, [10, 20]]

 list [10, 20] is within the list

In [ ]:
# Empty list

A list that contains no elements is called an empty list;
you can create one with empty brackets,
Ex:

 []

In [ ]:
#Example for list, nested list and empty list

cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses)

['Cheddar', 'Edam', 'Gouda']

In [ ]:

numbers = [42, 123]

print( numbers)

[42, 123]

In [ ]:

empty = []
print(empty)

[]

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
empty = []
print(cheeses, numbers, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] []

In [ ]:
# Excercise:

# 1. Crate a list to store your favorite fruits and display the list items

# 2. Crate a list to store your favorite vegitables and display the list items

# 3. Crate a list to store your movies  and display the list items

# 4. Create a nested list to store movies name and  acters names

In [ ]:
# Lists are mutable
#  The list is changeable, meaning that we can change, add, and remove
# items in a list after it has been created

numbers = [42, 123]
numbers[1]

123

In [ ]:
numbers[1] = 5  # list valus is changed  with 5 instead of 5
numbers

[42, 5]

In [ ]:
#List indices :
#• Any integer expression can be used as an index.
#• If you try to read or write an element that does not exist, you get an IndexError.
#• If an index has a negative value, it counts backward from the end of the list.


cheeses = ['Cheddar', 'Edam', 'Gouda']
'Edam' in cheeses

True

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
'Brie' in cheeses

False

In [ ]:
#List indices :
#• If an index has a negative value, it counts backward from the end of the list.
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses[-1])

Gouda

In [ ]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses[-2])

Edam

In [ ]:
#List indices :

#• If you try to read or write an element that does not exist, you get an IndexError.



cheeses = ['Cheddar', 'Edam', 'Gouda']
print(cheeses[5])

IndexError: ignored

In [ ]:
# Allow Duplicates
# Since lists are indexed, lists can have items with the same value:

# Example
# Lists allow duplicate values:

fruitlist = ["apple", "banana", "cherry", "apple", "cherry"]
print(fruitlist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
#Range of Indexes  or slicing
# You can specify a range of indexes by specifying where to start and where to end the range.
# When specifying a range, the return value will be a new list with the specified items.

# slicing
#   List slicing refers to accessing a specific portion or
#   a subset of the list for some operation while the orginal list remains unaffected

fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitlist[2:5])

['cherry', 'orange', 'kiwi']

In [ ]:
# range of indexer or slicing

fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitlist[:4])

#This will return the items from index 0 to index 4.

#Remember that index 0 is the first item, and index 4 is the fifth item
#Remember that the item in index 4 is NOT included

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# range of indexer  or slicing

fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitlist[2:])

#This will return the items from index 2 to the end.

#Remember that index 0 is the first item, and index 2 is the third

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
# range of indexer  or slicing
fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruitlist[:])

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Change a Range of Item Values
# To change the value of items within a specific range,
# define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

fruitlist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]

fruitlist[1:3] = ["blackcurrant", "watermelon"]

print(fruitlist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
#Change the second value by replacing it with two new values:

fruitlist = ["apple", "banana", "cherry"]
fruitlist[1:2] = ["blackcurrant", "watermelon"]
print(fruitlist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
# Excercise

#  create a fruit list and  Change the value from "apple" to "kiwi", in the fruits list.
# 1 Create a list with engineering college name , then replace all the value to arts college names

# 2. Create a list with first semester courses names , then replace all the value to second semester courses name college names.

In [ ]:
#  Traversing a list
# Accessing the element in a list one by one is called traversing a list
# The most common way to traverse the elements of a list is with a for loop.

# Ex:
cheeses = ['Cheddar', 'Edam', 'Gouda']
for cheese in cheeses:
  print(cheese)

Cheddar
Edam
Gouda

In [ ]:
#  Traversing a list
# Accessing the element in a list one by one is called traversing a list
# The most common way to traverse the elements of a list is with a for loop.

# Ex:
# But if you want to write or update the elements, you need the indices.
# A common way to do that is to combine the built-in functions range and len:

numbers = [42, 123]
for i in range(len(numbers)):
  numbers[i] = numbers[i] * 2

print(numbers)

[84, 246]

In [ ]:

#Although a list can contain another list, the nested list still counts as a single element. The
#length of this list is four:

list1=['spam', 1, ['Brie', 'Roquefort', 'Pol le Veq'], [1, 2, 3]]
len(list1)

4

In [ ]:
# List methods
# Python provides methods that operate on lists. For example, append adds a new element
# to the end of a list:
t = ['a', 'b', 'c']
t.append('d')
t

['a', 'b', 'c', 'd']

In [ ]:
# List methods
# extend method takes a list as an argument and appends all of the elements:
t1 = ['a', 'b', 'c']
t2 = ['d', 'e']
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e']

In [ ]:
# List methods
# sort method  arranges the elements of the list from low to high:
t = ['d', 'c', 'e', 'b', 'a']
t.sort()
t

['a', 'b', 'c', 'd', 'e']

In [ ]:
#  Deleting elements
# List object provide several methodes to delete elements from a list.
#  1. pop
#  2. del
#  3. remove

# If you know the index of the element, you want, you can use pop:
# pop modifies the list and returns the element that was removed.
t = ['a', 'b', 'c']
x = t.pop(1)
t

['a', 'c']

In [ ]:
# pop modifies the list and returns the element that was removed.

t = ['a', 'b', 'c']
x = t.pop(1)
x

'b'

In [ ]:
#  Deleting elements
# List object provide several methodes to delete elements from a list.
#  1. pop
#  2. del
#  3. remove

# If you don’t need the removed value, you can use the del operator:

t = ['a', 'b', 'c']
del t[1]
t

['a', 'c']

In [ ]:
#  Deleting elements
# List object provide several methodes to delete elements from a list.
#  1. pop
#  2. del
#  3. remove

#To remove more than one element, you can use del with a slice index:
t = ['a', 'b', 'c', 'd', 'e', 'f']
del t[1:5]
t

['a', 'f']

In [ ]:
#  Deleting elements
# List object provide several methodes to delete elements from a list.
#  1. pop
#  2. del
#  3. remove

# The remove() method removes the first occurrence of the element with the specified value.

t = ['a', 'b', 'c', 'd', 'e', 'f']
t.remove("b")
t

['a', 'c', 'd', 'e', 'f']

In [ ]:

# Copy a List

# The copy() method  make a copy.


fruitlist = ["apple", "banana", "cherry"]
fruitlist2 = fruitlist.copy()
print(fruitlist2)

# Justify list2 = list1 is not performing a copy operation. why ?
# You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

['apple', 'banana', 'cherry']

In [ ]:
# Join Two Lists

# There are several ways to join, or concatenate, two or more lists in Python.

# One of the easiest ways are by using the + operator.

# Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Join Two Lists

# Another way to join two lists is by appending all the items from list2 into list1, one by one:

# Join two list:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# Join Two Lists

#the extend() method  add elements from one list to another list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
Method	  Description
append()	Adds an element at the end of the list
clear()	  Removes all the elements from the list
copy()	  Returns a copy of the list
count()	  Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	  Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	    Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	  Sorts the list

In [ ]:
#Home work Excercises

Exercise 10.1. Write a function called nested_sum that takes a list of lists of integers and adds up
the elements from all of the nested lists. For example:
>>> t = [[1, 2], [3], [4, 5, 6]]
>>> nested_sum(t)
21


Exercise 10.2. Write a function called cumsum that takes a list of numbers and returns the cumulative sum;
that is, a new list where the ith element is the sum of the first i + 1 elements from the
original list. For example:
>>> t = [1, 2, 3]
>>> cumsum(t)
[1, 3, 6]


Exercise 10.3. Write a function called middle that takes a list and returns a new list that contains
all but the first and last elements. For example:
>>> t = [1, 2, 3, 4]
>>> middle(t)
[2, 3]



Exercise 10.4. Write a function called chop that takes a list, modifies it by removing the first and
last elements, and returns None. For example:
>>> t = [1, 2, 3, 4]
>>> chop(t)
>>> t
[2, 3]


Exercise 10.5. Write a function called is_sorted that takes a list as a parameter and returns True
if the list is sorted in ascending order and False otherwise. For example:
>>> is_sorted([1, 2, 2])
True
>>> is_sorted(['b', 'a'])
False



Exercise 10.6. Two words are anagrams if you can rearrange the letters from one to spell the other.
Write a function called is_anagram that takes two strings and returns True if they are anagrams.


Exercise 10.7. Write a function called has_duplicates that takes a list and returns True if there
is any element that appears more than once. It should not modify the original list.


Exercise 10.11. Two words are a “reverse pair” if each is the reverse of the other. Write a program
that finds all the reverse pairs in the word list.


Exercise 10.12. Two words “interlock” if taking alternating letters from each forms a new
word. For example, “shoe” and “cold” interlock to form “schooled”.
1. Write a program that finds all pairs of words that interlock. Hint: don’t enumerate all pairs!
2. Can you find any words that are three-way interlocked; that is, every third letter forms a
   word, starting from the first, second or third?

In [ ]:
# cloning lists
Cloning or Copying a list

This slicing method is considered when we want to modify a list
and also keep a copy of the original.
In this, we make a copy of the list itself, along with the reference. This process is also called cloning


10  ways by which we can clone or copy a list in Python:

Using the slicing technique
Using the extend() method
List copy using =(assignment operator)
Using the method of Shallow Copy
Using list comprehension
Using the append() method
Using the copy() method
Using the method of Deep Copy
Using the map method
Using slice() function

In [ ]:
 # cloning lists
 # Cloning or Copying a list

 # Using the slicing technique
 #This is the easiest and fastest way to clone a list. This method is considered
 #when we want to modify a list and also keep a copy of the original.
 #In this, we make a copy of the list itself, along with the reference. This process is also called cloning

l1 = [4, 8, 2, 10, 15, 18]
l2 = l1[:]
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
  # cloning lists

 # Clone or Copy Using Python extend() method

 #The lists can be copied into a new list by using the extend() function.
 #This appends each element of the iterable object
  #(e.g., another list) to the end of the new list.
  #This takes around 0.053 seconds to complete.
  #In this example, we are using extend() to copy or clone list.


def Cloning(l1):
    l1_copy = []
    l1_copy.extend(l1)
    return l1_copy


# Driver Code
l1 = [4, 8, 2, 10, 15, 18]
l2 = Cloning(l1)
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
 # cloning lists

# Python Copy List Using Assignment Operator

# This is the simplest method of cloning a list by using = operators.
# This operator assigns the old list to the new list using Python operators.
# Here we will create a list and then we will copy the old list into the
# new list using assignment operators.
# In this example, we are using assignment operator to clone or copy Python list.

l1 = [4, 8, 2, 10, 15, 18]
l2 = l1
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
 # cloning lists

# Using Shallow Copy in Python
# a copy of the original object is stored and only the reference address is finally copied

# importing copy module
import copy

# initializing list 1
li1 = [1, 2, [3,5], 4]

# using copy for shallow copy
li2 = copy.copy(li1)

print(li2)

[1, 2, [3, 5], 4]

In [ ]:

# cloning lists
# Python Cloning or Copying a list Using List Comprehension
# In this example, we are using list comprehension or looping method  to clone or copy a list.

# Python code to clone or copy a list
# Using list comprehension
def Cloning(l1):
    l1_copy = [i for i in l1]
    return l1_copy

# Driver Code
l1 = [4, 8, 2, 10, 15, 18]
l2 = Cloning(l1)
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
 # cloning lists

# Python append() to Clone or Copy a list
# This can be used for appending and adding elements to list or
# copying them to a new list. It is used to add elements to the last position of the list.
# This takes around 0.325 seconds to complete and is the slowest method of cloning.
# In this example, we are using Python append to copy a Python list.


def Cloning(l1):
    l1_copy =[]
    for item in l1: l1_copy.append(item)
    return l1_copy

# Driver Code
l1 = [4, 8, 2, 10, 15, 18]
l2 = Cloning(l1)
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
 # cloning lists

 # Using the copy() method
 # The Python List copy() is an inbuilt method copy used to copy all the elements from one list to another.
  #This takes around 1.488 seconds to complete.

  # Driver Code
l1 = [4, 8, 2, 10, 15, 18]
l2 = l1.copy()
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# cloning lists
# Using the method of Deep Copy
# the copy of the original object and the repetitive copies both are stored


# importing copy module
import copy

# initializing list 1
li1 = [1, 2, [3,5], 4]

# using deepcopy for deepcopy
li3 = copy.deepcopy(li1)
print(li3)

[1, 2, [3, 5], 4]

In [ ]:
# Difference between  Shallow copy and deep copy

# In Shallow copy, a copy of the original object is stored and only the reference address is finally copied.
# In Deep copy, the copy of the original object and the repetitive copies both are stored.

In [2]:

# cloning lists
#Copy a List Using Enumerate Function
# In this example, we are using enumerate function to copy or clone a list.

# Python code to clone or copy a list
# Using list comprehension

l1 = [4, 8, 2, 10, 15, 18]
l2 = [i for a,i in enumerate(l1)]
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [5]:
# cloning lists

# Python Copy or Clone a List using Map Function
# In this example, we are using map function to clone or copy a list using map function.



# Python code to clone or copy a list
# Using map function
l1 = [4, 8, 2, 10, 15, 18]
l2 = map(int, l1)
print("Original List:", l1)
print("After Cloning:", *l2)

# Explaination
#  The *l2 is used to unpack the elements obtained after applying the map(int, l1) function to the list l1.

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: 4 8 2 10 15 18

In [ ]:
# cloning lists

# Using slice() function
# The Python slice() is an inbuilt method used to copy all the elements
# from one list to another. Here slice() function is passed with one argument
# which is an integer specifying at which position slicing will end.

# Python code to clone or copy a list
# Using slice() function
l1 = [4, 8, 2, 10, 15, 18]
l2 = l1[slice(len(l1))]
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
# cloning lists
# Using the deque() function
# The deque() function is used to create a double-ended queue in Python.
#  It can be used to efficiently append or remove elements from both ends of the queue.
# In this approach, we create a deque object with the original list and then convert
#  it back to a list to create a copy of the original list.

from collections import deque

l1 = [4, 8, 2, 10, 15, 18]

l2 = deque(l1)
l2 = list(l2)

print("Original List:", l1)

print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [6]:
from collections import deque

l1 = [4, 8, 2, 10, 15, 18]
l2 = deque(l1)


print("Original List:", l1)

print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: deque([4, 8, 2, 10, 15, 18])

In [ ]:
# cloning lists

# Copy a Python List Using reduce()
# In this example, we are using reduce() method to copy a list.


from functools import reduce

def clone_list(l1):
    return reduce(lambda x, y: x + [y], l1, [])

l1 = [4, 8, 2, 10, 15, 18]
l2 = clone_list(l1)
print("Original List:", l1)
print("After Cloning:", l2)


# Explanation:
# Uses reduce() to iterate through the elements of l1
# The lambda function concatenates each element y into the list x, starting with an empty list [].

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]